body {
  background: #9bbc0f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  font-family: cursive;
  color: #306230;
}

body > div {
  border: 10px solid #8bac0f;
}

p {
  text-align: center;
}
